# 1.python基础试题

1.1 python 中boolean、float 和 int 分别表示什么？

In [1]:
print("boolean表示布尔变量只有True或者False两个值，float表示浮点型小数，int表示整数")

boolean表示布尔变量只有True或者False两个值，float表示浮点型小数，int表示整数

1.2  设计求1-2+3-4+5 ... 99的所有数的和

In [2]:
total = 0
for i in range(100):
    if i%2:
        total += i
    else:
        total -= i
print(total)

50

1.3  将字符串 s="yoyo" 转换成列表

In [3]:
s="yoyo"
[i for i in s]

['y', 'o', 'y', 'o']

# 2. python进阶基础试题

2.1     for i in range(1,100)[2::3][-10:]: 

                print i 
                
        理解这段代码，并说出它是如何取数的

In [4]:
print("range(100)表示从1到99的整数，[2::3]表示从下标2开始到末尾，每三步保留一个数，[-10:]表示取最末尾10个数")

range(100)表示从1到99的整数，[2::3]表示从下标2开始到末尾，每三步保留一个数，[-10:]表示取最末尾10个数

2.2 使用init 实例化时自动运行  分别计算单只股票最高价和收盘价两个时间点差值问题,可统一为one、two两个时间点,其最高价和收盘价赋值为 one(15,7) two(66,20)

In [5]:
class stock(object):
    def __init__(self,name,high,close):
        self.name = name
        self.high = high
        self.close = close
        self.dif = high - close
    def getdiff(self):
        return {self.name+'_dif':self.dif}
one = stock('one',15,7)
two = stock('two',66,20)
print(one.getdiff())
print(two.getdiff())

{'one_dif': 8}
{'two_dif': 46}

# 3. pandas数据处理试题

3.1 如何查看列名、怎么对数据转置

用pd.columns函数即可查看列名。用pd.DataFrame.transpose函数即可对数据转置。

3.2 读取data里的600029这只股票的DataFrame,将其收盘价转换成用Numpy的Array格式，并用talib计算10日EMA值，返回ndarray的最后五个值

In [6]:
import pandas as pd
data = pd.read_excel("sz50.xlsx",sheetname="600029.XSHG",index_col=0)

In [7]:
import talib as ta
ema = ta.EMA(data.close,timeperiod=10)
print(ema[-5:])

datetime
2017-11-14 15:00:00    15.082272
2017-11-15 15:00:00    15.256404
2017-11-16 15:00:00    15.444331
2017-11-17 15:00:00    15.721725
2017-11-20 15:00:00    15.963230
dtype: float64

3.3 读取sz50.xlsx的['600029.XSHG','600050.XSHG','601318.XSHG']的全数据做成Panel

In [8]:
pan = pd.read_excel("sz50.xlsx",sheetname=['600029.XSHG','600050.XSHG','601318.XSHG'],index_col=0)
paneldata = pd.Panel(pan)

3.4把Panel转成ndim为3的Numpy，然后用array的切片读取ndim为2的三只股票最近20天的收盘价

In [9]:
import numpy as np
panelnp = np.array(paneldata)
print(panelnp.shape)
print(panelnp[:,-20:,0])

(3, 215, 5)
[[  13.85   13.82   13.83   14.11   14.25   14.39   15.1    15.15   15.22
    14.97   14.89   14.99   14.71   15.07   15.35   16.     16.04   16.29
    16.97   17.05]
 [   8.53    8.56    8.62    8.88    9.25    9.24    9.43    9.25    9.02
     9.15    9.63    9.5     9.9     9.97    9.96    9.49    9.68    9.61
     9.63    9.8 ]
 [ 134.83  134.56  137.5   143.18  143.48  144.15  143.61  143.65  144.35
   143.36  146.41  144.71  148.56  156.53  157.12  157.72  154.99  163.52
   168.58  169.57]]

3.5 建立一个5*5的矩阵，值从0到24

In [10]:
np.array(range(25)).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])